body {
	font: sans-serif;
	color: #222;
}

#header {
	width: 100%;
	height: 20px;
	padding: 2px;
	color:#666666;
}

#header li {
	list-style-type: none;
	display: inline-block;
	float: right;
	padding-right: 20px;
}

footer {
	height: 38px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #f2f2f2;
	border: solid 1px #dcdcdc;
}

footer li {
	list-style-type: none;
	display: inline-block;
	margin-right: 26px;
	padding: 0;
}

#logo {
	width: 270px;
	height: 95px;
	display: block;
	margin: 160px auto 37px auto;
}

#text-box {
	width: 40%;
	height: 38px;
	border: solid 1px #e0dede;
	margin: 23px auto 0 auto;
	border-radius: 2px;
}
#text-box:hover{
	border-color:blue;

}

#voice {
	height: 24px;
	float: right;
	padding-top: 7px;
	padding-right: 4px;
}

#search-buttons {
	width: 270px;
	margin: 0 auto 0 auto;
	padding-top: 30px;
	font-size: 13px;
	font-weight: bold;
	color:#8e8989;
}

#search-button {
	font-family: arial;
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
	border-radius: 2px;
	float: left;
	display: inline-block;
	padding: 8px 10px;
}

#search-button:hover{
	color:black;
}


#lucky-button {
	background-color: #f1f1f1;
	border: 1px solid #f1f1f1;
	border-radius: 2px;
	float: right;
	display: inline-block;
	padding: 8px 10px;
	
}

#lucky-button:hover{
	color:black;
}

.F-left{
	float: left;
	color:#666666;
}

.F-right{
	float: right;
	color:#666666;
}

#Jeff{
	border-radius:50%;
	height: 32px;
	width: 32px;
}


#bell{
	height: 27px;
	width: 27px;

}
.himage{
	padding-top:5px;
}

#searchoptions{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

input[type="submit"]{
    height: 396px;
    line-height: 27px;
}
